name: Fix Lockfile

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/fix-lockfile.yml'

permissions:
  contents: write

jobs:
  fix-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: sync package-lock.json [skip ci]"
          file_pattern: package-lock.json
